<div class="navbar">
    <div class="content-wrap-header">
        <div class="left-side-navbar">
            <div class="content-header">
            <a href="http://localhost:5000" class="link">
                <p class="header-text">HOME</p>
            </a>
            </div>
            <div class="content-header">
                <a href="http://localhost:5000/top10" class="link">
                    <p class="header-text">TOP 10</p>
                </a>
            </div>
            <div class="content-header">
                <a href="http://localhost:5000/all-list" class="link">
                    <p class="header-text">ALL LIST</p>
                </a>
            </div>
            <div class="content-header">
                <a href="http://localhost:5000/countries" class="link">
                    <p class="header-text">COUNTRIES</p>
                </a>
            </div>
            <div class="content-header">
                <a href="http://localhost:5000" class="link">
                    <p class="header-text">INDUSTRIES</p>
                </a>
            </div>
            <div class="content-header">
                <a href="http://localhost:5000" class="link">
                    <p class="header-text">FUNCTIONALITIES</p>
                </a>
            </div>
        </div>
        <div class="content-header right-more"><p class="header-text">OUR GROUP</p></div>
    </div>
</div>

