{% extends 'base.html' %}
{% block content %}
    <div class="page-title-wrap">
        <p class="page-title">Billionaires: love or hate? <br/> &#128525; &#128545;</p>
    </div>
    <div class="countries-img-wrap">
        <img class="countries-img" src="../../static/images/loved-hated-billionaires.png" alt="loved-hated-billionaires"/>
    </div>

    <section class="countries-section-two">
        <div class="countries-section-two-wrap">
            <div class="title-wrap-countries">
                <p style="text-align: center">Billionaires and Countries, what do they have in common?</p>
            </div>
            <div class="forms-wrap">
                <div class="forms-left">

                </div>
                <div class="forms-right">
                    <div class="right-row">
                        <p>
                            Type a <b>billionaire’s name</b> and discover how great his wealth is comparing with an average
                            citizen of his country.
                        </p>
                    </div>
                    <div class="right-row">
                        <p>
                            Now, type a <b>country name</b> and see how many billionaires were born there.
                        </p>
                    </div>
                    <div class="right-row">
                        <p>
                            Input a <b>billionaire’s name</b> and see <b>how many years</b> they <b>have left</b> to try and reach the top of the list! (on average :D)   :X
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}