{% extends 'base.html' %}
{% block content %}
<div class="section-one-left" style="height: 40em; width: 65%; margin: 2em auto;">
    <div class="content-wrap">
        <div style="text-align: center; font-weight: bold; font-size: 3.5em; font-family: 'Nova Flat', sans-serif; margin-bottom: 1em">
            Get it sorted:
        </div>
        <div class="forms-wrap">
            <div class="forms-left">
                <form class="country-form" name="ageQuery"
                      action="javascript:window.open('/all-list/q1/'+document.forms['ageQuery'].elements['expr'].value,'_self')">
                    <p class="input-flag" style="font-size: 1.5em">By Age:</p>
                    <input class="country-input input" type="text" name="expr" id="expr" placeholder="ASC, DESC"
                           required/>
                    <input class="submit-button" type="submit" value="Get it"/>
                </form>
                <form class="country-form" name="ageQuery"
                      action="javascript:window.open('/all-list/q1/'+document.forms['ageQuery'].elements['expr'].value,'_self')">
                    <p class="input-flag" style="font-size: 1.2em">last name:</p>
                    <input class="country-input input" type="text" name="expr" id="expr" placeholder="portugal"
                           required/>
                    <input class="submit-button" type="submit" value="Get it"/>
                </form>
                <form class="country-form" name="wealthQuery"
                      action="javascript:window.open('/all-list/q3/'+document.forms['wealthQuery'].elements['expr'].value,'_self')">
                    <p class="input-flag" style="font-size: 1.2em">By Wealth:</p>
                    <input class="country-input input" type="text" name="expr" id="expr" placeholder="100"
                           required/>
                    <input class="submit-button" type="submit" value="Get it"/>
                </form>
            </div>
            <div class="forms-right">
                <div class="right-row">
                    <p>
                        Type a ordering direction like <b>ASC or DESC</b> and see the <b>all rank sorted</b> by it.
                    </p>
                </div>
                <div class="right-row">
                    <p>
                        Now, type a <b>last name</b> and see how many billionaires are called like this.
                    </p>
                </div>
                <div class="right-row">
                    <p>
                        Input a <b>value in billions </b>and see the billionaires that <b>own at least</b> this much money.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-two-wrap" style="height: auto">
    <div class="content-wrap-two" >
        <div class="title-wrap-two"><p class="title-table">
            <u>THE WORLD'S RICHEST</u></p>
            <p style="font-size: 0.8em; margin-right: 2em;">Wealth(in millions)</p>
            <p style="font-size: 0.8em ; margin-right: 4em;">Country</p>
            <p style="font-size: 0.8em">Brand</p>
        </div>
        <div class="table-wrap-two">
            {% for row in all_rank %}
            <div class="row-wrap">
                <div class="row-position" style="color: #f1592a">#{{ row.0 }}</div>
                <a class="row-name" href="/subject/{{ row.1 }}">{{ row.1 }}</a>
                <div class="row-wealth">${{ row.2 }} </div>
                <div class="row-country">{{ row.3 }}</div>
                <div class="row-company">{{ row.4 }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}