{% extends 'base.html' %}
{% block content %}
<div class="section-two-wrap" style="height: auto">
    <div class="content-wrap-two" >
        <div class="title-wrap-two"><p class="title-table">
            <u>THE WORLD'S RICHEST</u></p>
            <p style="font-size: 0.8em; margin-right: 2em;">Wealth(in millions)</p>
            <p style="font-size: 0.8em ; margin-right: 4em;">Country</p>
            <p style="font-size: 0.8em">Brand</p>
        </div>
        <div class="table-wrap-two">
            {% for row in all_rank %}
            <div class="row-wrap">
                <div class="row-position">#{{ row.0 }}</div>
                <div class="row-name">{{ row.1 }}</div>
                <div class="row-wealth">${{ row.2 }} </div>
                <div class="row-country">{{ row.3 }}</div>
                <div class="row-company">{{ row.4 }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}