{% extends 'base.html' %}
{% block content %}
<div class="page-header" style="width: 100%; margin: 3em auto 3em auto; justify-content: center;">
    <div class="title-wrap" style="text-align: center; font-weight: bold; font-size: 5em;">
        <p class="title" style="font-family: Nova Flat, sans-serif;">
            TOP 10 OVER ALL
        </p>
    </div>
    <div class="header-desc" style="text-align: center; font-family: 'Roboto Thin', sans-serif; font-style: italic;
        font-size: 2em; color: rgb(99,99,99);">
        <br/>
        <p class="quote-one">"Money is power and power is money" - Unknown</p>
        <p class="quote-two">"It takes money to make money" - J.P Morgan</p>
    </div>
</div>

<div class="photo-grid-wrap">
    <div class="row-wrap row-one-wrap">
        <div class="photo-wrap"><img class="photo" src="../../static/images/top10/bernard-arnault.jpg" alt="billionaire pic"/></div>
        <div class="photo-wrap"><img class="photo" src="../../static/images/top10/elon-musk.webp" alt="billionaire pic"/></div>
        <div class="photo-wrap"><img class="photo" src="../../static/images/top10/jeff-bezos.jpg" alt="billionaire pic"/></div>
        <div class="photo-wrap"><img class="photo" src="../../static/images/top10/larry_ellison.webp" alt="billionaire pic"/></div>
        <div class="photo-wrap"><img class="photo" src="../../static/images/top10/warren-buffet.jpg" alt="billionaire pic"/></div>
    </div>
    <div class="row-wrap row-two-wrap">
        <div class="photo-wrap"><img class="photo" src="../../static/images/top10/bill-gates.jpg" alt="billionaire pic"/></div>
        <div class="photo-wrap"><img class="photo" src="../../static/images/top10/michael-bloomerang.jpg" alt="billionaire pic"/></div>
        <div class="photo-wrap"><img class="photo" src="../../static/images/top10/carlos-slim.jpg" alt="billionaire pic"/></div>
        <div class="photo-wrap"><img class="photo" src="../../static/images/top10/mukesh-ambani.jpeg" alt="billionaire pic"/></div>
        <div class="photo-wrap"><img class="photo" src="../../static/images/top10/steve-balmer.webp" alt="billionaire pic"/></div>
    </div>
</div>


{#top 10 table copied from home.html#}
<div class="section-two-wrap" style="height: auto;">
    <div class="content-wrap-two">
        <div class="title-wrap-two"><p class="title-table">
            <u>THE WORLD'S RICHEST</u></p>
            <p style="font-size: 0.8em; margin-right: 2em;">Wealth(in millions)</p>
            <p style="font-size: 0.8em ; margin-right: 4em;">Country</p>
            <p style="font-size: 0.8em">Source</p>
        </div>
        <div class="table-wrap-two">
            {% for row in top10 %}
            <div class="row-wrap">
                <div class="row-position" style="color: #f1592a">#{{ row.0 }}</div>
                <a class="row-name" href="/subject/{{ row.1 }}" style="text-decoration: none">{{ row.1 }}</a>
                <div class="row-wealth">${{ row.2 }} </div>
                <div class="row-country">{{ row.3 }}</div>
                <div class="row-company">{{ row.4 }}</div>
                <div class="row-image">
                    <img src="../../static/images/company-logos/{{ row.0 }}.png" class="logo-image" alt="LOGO"/>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="section-one-wrap" style="justify-content: center; height: 45em">
        <div class="section-one-left" style="height: 40em; width: 100%;">
            <div class="content-wrap">
                <div style="text-align: center; font-weight: bold; font-size: 3.5em; font-family: 'Roboto', sans-serif;">
                    Make YOUR top 10!
                </div>
                <div class="form-section">
                    <div class="form-content-wrap">
                        <form class="country-form" name="coutryQuery" action="javascript:window.open('/top10/country/'+document.forms['coutryQuery'].elements['expr'].value,'_self')">
                            By Country:
                            <input class="country-input input" type="text" name="expr" id="expr" placeholder="portugal" required/>
                            <input class="submit-button" type="submit" value="Get it"/>
                        </form>
                        <form class="country-form" name="coutryQuery" action="javascript:window.open('/top10/country/'+document.forms['coutryQuery'].elements['expr'].value,'_self')">
                            By Country:
                            <input class="country-input input" type="text" name="expr" id="expr" placeholder="portugal" required/>
                            <input class="submit-button" type="submit" value="Get it"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}