{% extends 'base.html' %}
{% block content %}
    <div class="page-title-wrap">
        <p class="page-title">Industries</p>
    </div>
    <div class="countries-img-wrap">
        <img class="countries-img" src="../../static/images/industies-graph.png" alt="loved-hated-billionaires"/>
    </div>

    <div class="section-one-left" style="height: 40em; width: 65%; margin: 2em auto;">
        <div class="content-wrap">
            <div style="text-align: center; font-weight: bold; font-size: 2.1em; font-family: 'Nova Flat', sans-serif; margin-bottom: 1em">
                How Industries and Billionaires are related with each other:
            </div>
            <div class="forms-wrap">
                <div class="forms-left">
                    <form class="country-form" name="industryQuery"
                          action="javascript:window.open('/industries/q1/'+document.forms['industryQuery'].elements['expr'].value,'_self')">
                        <p class="input-flag">Industry:</p>
                        <input class="country-input input" type="text" name="expr" id="expr"
                               placeholder="technology, telecom"
                               required/>
                        <input class="submit-button" type="submit" value="Get it"/>
                    </form>
                    <form class="country-form" name="amountQuery"
                          action="javascript:window.open('/industries/q2/'+document.forms['amountQuery'].elements['expr'].value,'_self')">
                        <p class="input-flag">Amount:</p>
                        <input class="country-input input" type="text" name="expr" id="expr" placeholder="5, 12, 40..."
                               required/>
                        <input class="submit-button" type="submit" value="Get it"/>
                    </form>
                    <form class="country-form" name="valueQuery"
                          action="javascript:window.open('/industries/q3/'+document.forms['valueQuery'].elements['expr'].value,'_self')">
                        <p class="input-flag">Wealth:</p>
                        <input class="country-input input" type="text" name="expr" id="expr" placeholder="ASC, DESC"
                               required/>
                        <input class="submit-button" type="submit" value="Get it"/>
                    </form>
                </div>
                <div class="forms-right">
                    <div class="right-row">
                        <p>
                            Type an <b>industry name</b> and discover all the billionaires from this industry.
                        </p>
                    </div>
                    <div class="right-row">
                        <p>
                            Now, type a <b>number</b> and see how many industries have the amount of billionaires above
                            this.
                        </p>
                    </div>
                    <div class="right-row">
                        <p>
                            Order the total wealth of each industry(ascending or descending) by <b>ASC or DESC</b>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-two-wrap" style="height: auto; padding: 1em">
        <div class="content-wrap-two">
            <div class="title-wrap-two" style="display: flex">
                <p class="title-table" style="width: 30%;"><u>INDUSTRIES</u></p>
            </div>
            <div class="table-wrap-two" style="padding: 2em">
                {% for row in industries_list %}
                    <div class="row-wrap" style="justify-content: left">
                        <div class="row-position" style="color: #f1592a; width: 6%;">#{{ row.0 }}</div>
                        <p class="row-name" style="text-decoration: none">{{ row.1 }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}